html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 75%;
  line-height: 1.5em;
}

@media (min-width: 480px) {
  html {
    font-size: 87.5%;
    line-height: 1.5em;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 100%;
    line-height: 1.5em;
  }
}
h1 {
  font-size: 3.157rem;
  line-height: 4.5rem;
}

h2 {
  font-size: 2.369rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.777rem;
  line-height: 3rem;
}

h4 {
  font-size: 1.333rem;
  line-height: 3rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 0.75rem;
  line-height: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.portfolio__thumbnail figcaption h3 {
  font-weight: 300;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-js7nwc");
  src: url("../fonts/icomoon.eot?#iefix-js7nwc") format("embedded-opentype"), url("../fonts/icomoon.woff?-js7nwc") format("woff"), url("../fonts/icomoon.ttf?-js7nwc") format("truetype"), url("../fonts/icomoon.svg?-js7nwc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-arrow-left:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e603";
}
.icon-github-alt:before {
  content: "\f113";
}
.icon-ruble:before {
  content: "\f158";
}
.icon-bitbucket:before {
  content: "\f171";
}
.icon-vk:before {
  content: "\f189";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-lquote:before {
  content: "\e601";
}
.icon-rquote:before {
  content: "\e600";
}
.icon-bars:before {
  content: "\f0c9";
}

.container {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  height: 100%;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 1200px) {
  .container {
    max-width: 73.125rem;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.button {
  font-size: 1.125rem;
  line-height: 3rem;
  text-decoration: none;
  color: #FFF;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 0 1rem;
  margin: 0 .5rem;
}
.button:hover {
  background: #FF7D13;
  border: 2px solid #FF7D13;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Source Sans Pro";
  -webkit-font-smoothing: antialiased !important;
  -webkit-backface-visibility: hidden;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

img,
iframe,
video {
  max-width: 100%;
  display: inline-block;
}

.iframe {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  background: #1e1912;
  height: 4.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
}

.logo {
  float: left;
  margin-left: gutter;
  font-size: 1.125rem;
  line-height: 4.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
}
.logo strong {
  font-weight: 600;
}
.logo span:nth-of-type(1) {
  color: #4B5D3E;
}
.logo span:nth-of-type(2) {
  color: #FADFA6;
}
.logo span:nth-of-type(3) {
  color: #FF7D13;
}

.menu {
  *zoom: 1;
}
.menu:after {
  content: "";
  display: table;
  clear: both;
}
.menu ul {
  background: rgba(30, 25, 20, 0.8);
  position: absolute;
  display: none;
  top: 4.5rem;
  left: 0;
  right: 0;
}
.menu__item {
  font-size: 1rem;
  line-height: 3rem;
  display: block;
  vertical-align: middle;
  white-space: nowrap;
  border-top: 1px solid #929291;
}
.menu__item a {
  text-decoration: none;
  color: #929291;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.menu__item a:hover {
  color: #FFF;
}
.menu__toggle {
  font-size: 2rem;
  line-height: 4.5rem;
  float: right;
  margin-right: gutter;
  text-decoration: none;
  text-align: center;
  display: block;
  color: #717171;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.menu__toggle:hover {
  color: #FFF;
}
@media (min-width: 768px) {
  .menu {
    float: right;
    margin-right: gutter;
    text-align: right;
  }
  .menu ul {
    display: block !important;
    background: transparent;
    position: static;
  }
  .menu__item {
    font-size: 1rem;
    line-height: 4.5rem;
    padding-left: 20px;
    display: inline-block;
    border: none;
  }
  .menu__item a {
    padding: 0;
  }
  .menu__toggle {
    display: none;
  }
}

.slider {
  margin-top: 4.5rem;
  background: #2d251b;
  position: relative;
  height: 45rem;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  /* webkit blinking fix */
}
.slider ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  height: 100%;
  /* Clear fix */
  *zoom: 1;
  /**
   * Prevent blinking issue
   * Not tested. Experimental.
   */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.slider .slide {
  overflow: hidden;
  display: block;
  position: relative;
  float: left;
  height: 100%;
  clear: none;
  color: #FFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}
.slider .slide__title {
  margin-top: 3rem;
  font-size: 2.5rem;
  line-height: 3rem;
}
.slider .slide__desc {
  font-size: 1.25rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}
.slider .slide__button {
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-decoration: none;
  color: #FFF;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: .5rem 1rem;
  margin: 0 .5rem;
}
.slider .slide__button:hover {
  background: #FF7D13;
  border: 2px solid #FF7D13;
}
.slider .slide img {
  margin-top: 4.5rem;
  position: relative;
  bottom: 0;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
.slider__arrow {
  position: absolute;
  color: #929291;
  display: block;
  text-decoration: none;
  margin-bottom: -20px;
  font-size: 40px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.slider__arrow_right {
  bottom: 50%;
  right: 1rem;
}
.slider__arrow_left {
  bottom: 50%;
  left: 1rem;
}
.slider__arrow:hover {
  color: #FFF;
}

.services {
  padding-top: 4.5rem;
  padding-bottom: 1.5rem;
}

.service {
  padding-top: 1.5rem;
  padding-bottom: -webkit-calc(1.5rem - 1px);
  padding-bottom: calc(1.5rem - 1px);
  width: full;
  margin: 0 gutter;
  display: block;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #CECECE;
  -webkit-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}
.service:hover {
  background: #fbeee3;
}
.service__icon {
  height: 6rem;
  display: block;
}
.service:nth-of-type(1) .service__icon {
  background: url(../images/services/email.png) no-repeat center bottom;
}
.service:nth-of-type(2) .service__icon {
  background: url(../images/services/briefcase.png) no-repeat center bottom;
}
.service:nth-of-type(3) .service__icon {
  background: url(../images/services/map.png) no-repeat center bottom;
}
.service:nth-of-type(4) .service__icon {
  background: url(../images/services/cloud.png) no-repeat center bottom;
}
.service:nth-of-type(5) .service__icon {
  background: url(../images/services/rocket.png) no-repeat center bottom;
}
.service:nth-of-type(6) .service__icon {
  background: url(../images/services/web.png) no-repeat center bottom;
}
.service:last-of-type {
  border-bottom-color: transparent;
}
.service__title {
  font-size: 1.5rem;
  line-height: 3rem;
  color: #2d251b;
  padding: 0 1rem;
}
.service__description {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  color: #5f5f5f;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .service {
    width: 50%;
    float: left;
    margin: 0;
  }
  .service:nth-of-type(even) {
    border-left: 1px  solid #CECECE;
  }
  .service:nth-of-type(odd) {
    clear: both;
  }
  .service:nth-last-of-type(2) {
    border-bottom-color: transparent;
  }
}
@media (min-width: 992px) {
  .service {
    width: 33.3333%;
  }
  .service:nth-of-type(odd) {
    clear: none;
    border-left: 1px  solid #CECECE;
  }
  .service:nth-of-type(3n+1) {
    clear: both;
    border-left-color: transparent;
  }
  .service:nth-last-of-type(3) {
    border-bottom-color: transparent;
  }
}

.article {
  *zoom: 1;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.article:after {
  content: "";
  display: table;
  clear: both;
}
.article__title {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 1.5rem;
  font-size: 1.875rem;
  line-height: 3rem;
  color: #2d251b;
}
.article__title_right {
  text-align: right;
}
.article__content {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 1.5rem;
  color: #5f5f5f;
}
.article__image {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: center;
}
.article__image img {
  max-width: 49%;
}
.article__video {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 1.5rem;
  text-align: center;
}
@media (min-width: 768px) {
  .article__content {
    width: 48.33333%;
  }
  .article__image, .article__video {
    width: 48.33333%;
  }
}
@media (min-width: 992px) {
  .article__content {
    width: 56.66667%;
  }
  .article__image, .article__video {
    width: 40%;
  }
}

.portfolio {
  background: url(../images/bg_portfolio.jpg) no-repeat top center;
  background-size: cover;
}
.portfolio__title {
  font-size: 1.875rem;
  line-height: 4.5rem;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  background: rgba(30, 25, 20, 0.8);
}
.portfolio__filter {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.portfolio__filter a {
  font-size: 1.125rem;
  line-height: 1.5rem;
  display: inline-block;
  padding: .5rem 1rem;
  margin: 0 .5rem;
  border: 2px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #FFF;
}
.portfolio__filter a:hover, .portfolio__filter a.selected {
  border-color: #FFF;
}
.portfolio__thumbnail {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 1.66667%;
  border: 2px solid transparent;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}
.portfolio__thumbnail__hover {
  border: 2px solid #FFF;
}
.portfolio__thumbnail figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 1rem;
  color: #FFF;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.portfolio__thumbnail figcaption h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.portfolio__thumbnail figcaption span {
  position: relative;
}
.portfolio__thumbnail figcaption span i {
  position: absolute;
  right: -40px;
  top: 50%;
  margin-top: -7px;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .portfolio__thumbnail {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
@media (min-width: 992px) {
  .portfolio__thumbnail {
    width: 31.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/*# sourceMappingURL=style.css.map */