@import 'base';

@import 'buttons';

// Base

* {
  @include box-sizing(border-box);
}

body {
  background: $background-primary;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased !important;
  -webkit-backface-visibility: hidden;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

// Adaptive content

img,
iframe,
video {
  max-width: 100%;
  display: inline-block;
}
.iframe {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


// Header

@import 'header';

// Slider

@import 'slider';

// Services

@import 'services';

// Article

@import 'article';

// Portfolio

@import 'portfolio';

// Pricing

@import 'pricing';

// Reviews

@import 'reviews';

// Footer

@import 'footer';