@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-js7nwc');
  src:url('../fonts/icomoon.eot?#iefix-js7nwc') format('embedded-opentype'),
    url('../fonts/icomoon.svg') format('svg'),
    url('../fonts/icomoon.woff?-js7nwc') format('woff'),
    url('../fonts/icomoon.ttf?-js7nwc') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-bars:before {
  content: "\f0c9";
}
.icon-vk:before {
  content: "\f189";
}
.icon-googleplus:before {
  content: "\e600";
}
.icon-facebook:before {
  content: "\e609";
}
.icon-twitter:before {
  content: "\e601";
}
.icon-dribbble:before {
  content: "\e604";
}
.icon-github:before {
  content: "\e605";
}
.icon-tumblr:before {
  content: "\e606";
}
.icon-apple:before {
  content: "\e607";
}
.icon-android:before {
  content: "\e608";
}
.icon-arrow-left:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e603";
}
.icon-download:before {
  content: "\e60b";
}